.header {
  height: 80px;
  transition: height 0.5s;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  overflow: hidden;
  top: 0;

  ul {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    box-sizing: border-box;
    //background: rgba(255,255,255,0.3);

    li {
      list-style: none;
      margin-right: 20px;
      font-size: 24px;
      font-weight: 600;
    }

    button {
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      color: #fdfdfe;
      text-shadow: 0 0 5px rgba(215, 156, 156, 0.84), 0 0 10px #654f4f, 0 0 10px #948188,
      0 0 20px #c4a29a;
    }

    button:hover {
      text-decoration: none;
      font-size: 25px;
      font-weight: 900;
      color: #fdfdfe;
      text-shadow: 0 3px 50px rgba(215, 156, 156, 0.84), 0 4px 10px #654f4f, 0 5px 10px #948188,
      0 10px 25px #c4a29a;
    }
  }
}
.hide-on-scroll{
  height: 0;
  transition: height 1s;
}
@keyframes close {
  0%   {height: 80px}
  25%  {height: 40px;}
  50%  {height: 20px;}
  100% {height: 0;}
}

.sidenav {
  z-index: 2;
  .toggle {
    left: 0;
    position: absolute;
    width: max-content;
    top: 20px;
    //transition-duration: 0.5s;
    cursor: pointer;
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: aliceblue;
      margin: 6px 0;
      transition: 0.4s;
    }
    &.change {
      //transition-duration: 1s;
      .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
        background-color: #ff0000;
      }

      .bar2 {opacity: 0;}

      .bar3 {
        transform: translate(0, -11px) rotate(45deg);
        background-color: #ff0000;
      }
    }
  }

  position: fixed;
  overflow: hidden;
  right: 0;
  height: 100vh;
  width: 50px;
  background-color: rgba(0,0,0,0);
  top: 0;
  transition: width 0.5s, background-color 1s;
}
.change {
  &.sidenav {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    background-color: #000000;
    top: 0;
    right: 0;
    transition: width 1s, background-color 0.5s;
    justify-content: center;
    align-content: center;

    ul {
      width: 100%;
      margin: auto;
      box-sizing: border-box;
      //background: rgba(255,255,255,0.3);

      li {
        list-style: none;
        margin-right: 20px;
        font-size: 24px;
        font-weight: 600;
      }

      button {
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: #fdfdfe;
        text-shadow: 0 0 5px rgba(215, 156, 156, 0.84), 0 0 10px #654f4f, 0 0 10px #948188,
        0 0 20px #c4a29a;
      }

      button:hover {
        text-decoration: none;
        font-size: 25px;
        font-weight: 900;
        color: #fdfdfe;
        text-shadow: 0 0 50px rgba(215, 156, 156, 0.84), 0 0 10px #654f4f, 0 0 10px #948188,
        0 50px 60px #c4a29a;
      }
    }
  }
}
@media only screen and (min-width: 1450px) {
  nav {
    ul {
      li {
        button {
          font-size: 25px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1449px) {

  nav {
    ul {
      li {
        button {
          font-size: 20px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .logo {
    img {
      width: 100%;
    }
  }
  nav {
    ul {
      li {
        button {
          font-size: 20px;
        }
      }
    }
  }
}
@media only screen and (max-width: 910px) {
  nav {
    ul {
      li {
        button {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  nav {
    ul {
      li {
        button {
          font-size: 14px;
        }
      }
    }
  }
}
@media only screen and (max-width: 481px) {
  nav {
    ul {
      li {
        button {
          font-size: 12px;
        }
      }
    }
  }
}
