mat-icon {
  cursor: pointer;
font-size: 30px;
}
.whatsapp-ico{
  fill: white;
  width: 30px;
  height: 30px;
  padding: 2px;
  //margin-bottom: 4px;
  flex-shrink: 0;
  background-color: #4dc247;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  z-index: 10;
}

.whatsapp-ico:hover{
  box-shadow: 2px 2px 11px rgba(0,0,0,0.7);
}
footer::before {
  content: "";
}

footer::after {
  content: "";
}
