//Custom select
:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;

}


select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #40484f;
  background-image: none;
  cursor: pointer;
  z-index: 5;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  z-index: 5;

}
/* Arrow */
.select::after {
  content: '\25BC';
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

//products List Styling
.products-list {
  column-gap: 15px;
  row-gap: 15px;
  padding-top: 50px;
  padding-bottom: 120px;
  overflow-y: auto;
  scrollbar-width: thin;
  .product-card {
    min-width: 200px;
    cursor: pointer;
    header {
      p {
        font-weight: bolder;
      }
    }
    footer {
      display: flex;
      justify-content: center;
      align-content: baseline;
      padding-bottom: 3px;
      mat-icon, span {
        margin: 0 5px 0;
      }
    }
    &:hover {
      box-shadow: 0px 0px 6px 3px #737373;
      background: #919191;
      background: linear-gradient(
          to right bottom,
          rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0.2))!important;
      footer{
        background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2))!important;
      }
      header {
        background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2))!important;
      }
    }
  }
}
