section {
  height: 100vh;
  color: aliceblue;
  scroll-snap-align: start;
}
.sec1 {
  display: flex;
  scroll-snap-align: start;
  opacity:1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.sec2 {
  position: relative;
  scroll-snap-align: start;
  background-image: url('../../assets/secondary2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100vw;
  height: 100vh;
  font-family: Anthem, serif;
  .content{
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    max-width: 100%;
    span {
      max-height: 50vh;
      max-width: 50vw;
      font-size: 40px;
    }

  }
  //opening like animation suppose to contain 2 images,
  //each takes 50vw, and leaves the view when scrolled to

  .row {
    img { //should be first flex item
      position: relative;
      left: 0;
      width: auto;
      height: auto;
      max-height:100vh;
      z-index: 2;
    }
  }
}

.scroller {
  width: auto;
  border: 1px solid black;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  scrollbar-width: thin;
}

.sec3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-image: url('../../assets/sec3.webp');
  background-size: cover;
  scroll-snap-align: center;
  width: 100vw;
  height: 100vh;
  h3 {
    width: 100vw;
    text-align: center;
    color: aliceblue;
    margin: 0 auto;
    height: 60px;
    font-family: 'Brush Script MT', serif;
    text-shadow: 0 2px 20px rgba(215, 156, 156, 0.84)
  }


}

// maybe will be in use
//@media only screen and (min-width: 1450px) {
//
//}
//@media only screen and (max-width: 1449px) {
//
//}
@media only screen and (max-width: 1200px) {

  .sec2 {
    position: relative;
    scroll-snap-align: center;
    background-image: url('../../assets/secondary1.webp');
    background-size: cover;

    width: 100vw;
    height: 100vh;

    .content {
      span {
        text-align: center;
        max-height: 50vh;
        max-width: 60vw;
        font-size: 36px;
      }
    }
  }

}
@media only screen and (max-width: 910px) {

}

@media only screen and (max-width: 480px) {

  .sec2 {
    position: relative;
    scroll-snap-align: center;
    background-image: url('../../assets/secondary1.webp');
    background-size: cover;

    width: 100vw;
    height: 100vh;

    .content {
      span {
        max-width: 50vw;
        font-size: 20px;
      }
      ul{
        margin-left: 150px;
        &:before {
          content:attr(aria-label);
          font-size: 30px;
          font-weight: 600;
          color: #fdfdfe;
          text-shadow: 0 0 5px rgba(215, 156, 156, 0.84), 0 0 10px #654f4f, 0 0 10px #948188,
          0 0 20px #c4a29a;
        }
        width: 80%;
        li {
          list-style: none;
          text-decoration: none;
          font-size: 20px;
          font-weight: 600;
          color: #fdfdfe;
          text-shadow: 0 0 5px rgba(215, 156, 156, 0.84), 0 0 10px #654f4f, 0 0 10px #948188,
          0 0 20px #c4a29a;
          cursor: pointer;
          border-bottom: solid 1px gray;
          mat-icon {
            text-shadow: 0 0 1px rgba(215, 156, 156, 0.84), 0 0 2px #654f4f, 0 0 3px #948188,
            0 0 20px #c4a29a;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 481px) {

}
