
<div class="card-box">
  <div class="card-title">
      <img class="avatar" src="assets/profile.jpg">
    <h5>Username</h5>
  </div>
  <hr>
  <br>
  <div class="card-content">
    <div class="card-line">Name:</div>
    <div class="card-line">Total Games:</div>
    <div class="card-line">Wins:</div>
    <div class="card-line">Losses:</div>
    <div class="card-line">Age:</div>
    <div class="card-line">Gender:</div>
  </div>
  <div class="card-title">
<p>Words of wisdom:</p>
    <br>

  </div>

  <hr>
  <div class="actions-btns">
    <button mat-button color="primary">Add Friend</button>
    <button mat-button color="primary">Ignore</button>
    <button mat-button color="primary">Send Message</button>
  </div>
</div>
