
.companyName {
  font-size: 150%;
}

.mat-toolbar {
  height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  min-height: 93vh !important;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  font-size: 200%;
  text-align: center;
}

mat-sidenav {
  overflow: hidden;
}

@media only screen and (min-width: 1450px) {
  nav {
    ul {
      li {
        button {
          font-size: 25px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1449px) {
  nav {
    ul {
      li {
        button {
          font-size: 20px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .logo {
    img {
      width: 100%;
    }
  }
  nav {
    ul {
      li {
        button {
          font-size: 20px;
        }
      }
    }
  }
}
@media only screen and (max-width: 910px) {
  nav {
    ul {
      li {
        button {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {

}
@media only screen and (min-width: 481px) {

}
