
<div class="scroller">
    <nav>
      <ul>
        <li><button mat-button href="#first">ראשי</button></li>
        <li><button mat-button href="#second">עלינו</button></li>
        <li><button mat-button href="#second">המוצרים שלנו</button></li>
        <li><button mat-button href="#third">צור קשר</button></li>
      </ul>
      <div class="logo">
        <img src="../assets/logo.webp" alt="האופה">
      </div>
    </nav>

  <section [@fadeEffect]="fade? 'visible':'fade'" class="sec1" observeVisibility
           [debounceTime]="0" (visible)="fadeAnimation($event)"
  >

<!--    <h2>Section one</h2>-->
  </section>

  <section class="sec2" observeVisibility
           [debounceTime]="0" (visible)="openAnimation($event)" [threshold] = "0.8">
      <div class="row">
        <img src="assets/cookie.webp" alt="cookie" class="right-image" [@roll]="leave? 'out':'in'">
      </div>
    <div class="content" [@fadeEffect]="leave? 'visible':'fade'">
      <h2>
        Title with animation for sec 2
      </h2>
    </div>
  </section>

  <section class="sec3">
    <div class="row" observeVisibility
         [debounceTime]="0" (visible)="doorsAnimation($event)" [threshold] = "0.9">
      <div class="right-image col" [@openRight] = "doors? 'open':'close'">
      </div>
      <div class="left-image col" [@openLeft] = "doors? 'open':'close'">
      </div>
    </div>
<!--    <h2>Section three</h2>-->
  </section>
</div>
