.posts {
  display: flex;
  flex-direction: row;
  //align-content: center;
  //justify-content: center;
  height: 70vh;
  width: 100vw;
  background-color: #1109098a;
  .post {
    position: relative;
    width: 25%;
    flex-shrink: 0;
    img {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay {
      position: absolute;
      //margin: auto auto;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0;
      transition: .5s ease;
      background-color: #2d4f59;
    }
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }
  .post:hover .overlay {
    border-radius: 15px;
    opacity: 0.7;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1450px) {

}
@media only screen and (max-width: 1449px) {

}
@media only screen and (max-width: 1200px) {


}
@media only screen and (max-width: 910px) {
  .posts {
    flex-direction: column;
    overflow: scroll;
    //flex-wrap: nowrap;
    max-height: 80vh;
    width: 100vw;
    overflow-y: auto;
    align-items: center;
    justify-content: space-around;
    .post{
      //flex: 1;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
    }
  ;
  }
}

@media only screen and (max-width: 480px) {

}
@media only screen and (min-width: 481px) {

}
